# Зависимости
**/node_modules

# Сборка production
**/dist

# Файлы npm логов
**/npm-debug.log*

# Временные и другие файлы nginx (они копируются в момент запуска сервисов)
**/nginx/logs/
**/nginx/cache/
**/nginx/tmp/

# Файлы линтеров
**/.eslint.config.ts

# Файл единой конфигурации для разных IDE
**/.editorconfig

# Файл глобального описания проекта
README.md

# Исключаем папку с тестами
**/__tests__/
**/__mocks__/ 

# Исключаем все файлы *.test.ts и *.test.tsx
**/*.test.ts
**/*.test.tsx

# Исключаем конфигурацию Jest
**/jest.config.js
**/jest.setup.ts

# Файлы настройка Husky
.husky