@use "styles/abstract/colors.scss" as *;

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 100%;

    &__close-icon {
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: $black;
        padding: 2px;
        border-radius: 100%;
        animation: .5s show ease;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;

        svg {
            color: $white;
        }

        @keyframes show {
            from { opacity: 0; }
            to { opacity: 0.8; }
        }
        
        &:hover {
            opacity: 1;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    &:hover {
        cursor: pointer;
    }
}