PORT=8009
NODE_ENV="development"

RABBITMQ_URL="amqp://localhost:5672"

REDIS_PORT=6379
REDIS_HOST="localhost"

DATABASE_DIALECT="mssql"
DATABASE_NAME="MESSANGER"
DATABASE_USERNAME="your database user name here"
DATABASE_PASSWORD="your database password here"
DATABASE_HOST="localhost"
DATABASE_PORT=1433

SMTP_HOST="smtp.<your mail domain here>.com"
SMTP_PORT=465
SMTP_USER="your mail address here"
SMTP_PASSWORD="your password here"
SMTP_FROM_NAME="your from-name here"
SMTP_FROM_EMAIL="your mail from-address here"

TELEGRAM_BOT_TOKEN="your telegram bot token here"
TELEGRAM_CHANNEL_NAME="@messanger_notifications"