@import "../colors.scss";

.edit-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    &__tabs {
        border-right: 1px solid $edit-border;
        width: 20%;
    }
    &__tab-name {
        font-size: 14px;
    }
    &__module {
        width: 80%;
        padding: 20px 20px;
        &__loading-button {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
}