@use "@styles/abstract/colors.scss" as *;

/* Для счетчика количества (друзей, фото и т.д.) */
.counter {
    color: $dark-blue;
    padding-left: 5px;
}

.profile-container__grid.MuiGrid2-container {
    flex-wrap: nowrap;
}