.mainGrid {
	height: calc(100vh - 40px);

	.background {
		background-size: cover;
		background-position: center;
		background-image: url("https://api.unsplash.com/photos/random?client_id=2t6S03wS49SKwlnqRPZgChHiZUfKcxouAGZv1a3_LUE");
		background-repeat: no-repeat;

		&.light {
			background-color: $background-light;
		}

		&.dark {
			background-color: $background-dark;
		}
	}

	.signInForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: $signMarginXLarge $signMarginLarge;
	}

	.layoutInput {
		margin-top: $signMarginXSmall;
		width: 80%;

		.signInForm__checkbox {
			cursor: pointer;
			margin-left: -11px;

			.signInForm__checkbox__label {
				cursor: pointer;
				margin: 0;
				font-family: "Roboto", "Helvetica", "Arial", sans-serif;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5;
				letter-spacing: 0.00938em;
			}
		}

		.loadingButton {
			margin-top: $signMarginMedium;
			margin-bottom: $signMarginSmall;
		}

		.signInNoAccount__grid {
			max-width: none;
		}

		.signInHelp__grid {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.secondaryButton,
		.register {
			color: $blue;
			text-decoration: none;

			&:hover {
				cursor: pointer;
			}

			.backButton {
				margin-right: $signMarginXSmall;
			}
		}

		.register {
			text-align: right;
		}
	}
}
