@use "@styles/abstract/colors.scss" as colors;
@use "@styles/abstract/variables.scss" as vars;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: vars.$modal-overlay-width;
    height: vars.$modal-overlay-height;
    background: colors.$modal-overlay-background;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    box-shadow: vars.$modal-content-box-shadow colors.$modal-content-box-shadow;
    width: vars.$modal-content-width;
    height: vars.$modal-content-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;

    &:hover {
      cursor: pointer;
  }
  }
  