# Данный файл является шаблоном .env файла. По его подобию следует создать .env и .env.MODE файлы

VITE_BASE_URL="http://localhost:3000"
VITE_API_URL="http://localhost:8008"
VITE_SOCKET_URL="http://localhost:8008"
VITE_COOKIE_NAME="sid"

VITE_MAIL_FEEDBACK="your email here"

VITE_TIMEOUT_IS_WRITE_MESSAGE=7000
VITE_TIMEOUT_HIDE_UPPER_DATE=2000

VITE_AXIOS_RESPONSE_ENCODING="utf8"
VITE_AXIOS_TIMEOUT=15000

VITE_SOCKET_RECONECTION_ATTEMPTS=5
VITE_SOCKET_RECONNECTION_DELAY=5000
VITE_SOCKET_ACK_TIMEOUT=10000

VITE_ARRAY_LOGS_LENGTH=10000
VITE_LOGS_FILE_NAME="client-logs.txt"