.virtual-list {
    &__loading {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        position: relative;
    }

    &__no-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;
    }
}