$super-light-grey: #dce1e6;
$very-light-grey: #d3d9de;
$light-grey: #babec2;
$placeholder-grey: #818c99;
$very-medium-grey: #fafbfc;
$medium-grey: #818c99;
$white: #ffffff;
$blue: #2a5885;
$dark-blue: #626d7a;
$red: #d32f2f;
$online-green: #44b700;
$green: #4fae4e;
$success: #2e7d32;
$black: #000000;
$main-background: #edeef0;
$notice-grey: #aeb7c2;
$dark: #424242;
$light-dark: #616161;
$avatar-without-user: #bdbdbd;
$background-light: #fafafa;
$background-dark: #212121;
$avatar-color: #9c27b0;
$edit-page-tab-border-color: #e0e0e0;
$spinner-background: rgba(255, 255, 255, 0.7);
$scroll-background: #aaaaaa;
$scroll-border-color: rgba(0, 0, 0, 0);
$modal-overlay-background: rgba(0, 0, 0, 0.5);
$modal-content-box-shadow: rgba(0, 0, 0, 0.3);
$selected-select-label: #1976d2;