$avatar-without-user: #bdbdbd;
$background-dark-bg: #212121;
$background-light-bg: #fafafa;
$black: #000000;
$edit-tab-border-color: #e0e0e0;
$error: #d32f2f;
$friends-container-grey: #fafbfc;
$is-online: #44b700;
$link-color: #2a5885;
$main-background: #edeef0;
$menu-info-color: #818c99;
$menu-nav-border: #dce1e6;
$messages-border: #babec2;
$modal-content-bg: #dce1e6;
$modal-content-box-shadow: rgba(0, 0, 0, 0.3);
$modal-error-border: #d3d9de;
$modal-overlay-bg: rgba(0, 0, 0, 0.5);
$notice-bg: #aeb7c2;
$opacity-text-color: #babec2;
$personal-info-border: #babec2;
$personal-info-secondary-color: #818c99;
$personal-info-values-color: #2a5885;
$photos-link-color: #626d7a;
$profile-counter-color: #626d7a;
$scroll-bg: #aaaaaa;
$scroll-border-color: rgba(0, 0, 0, 0);
$selected-select-label: #1976d2;
$spinner-bg: rgba(255, 255, 255, 0.7);
$system-avatar-color: #9c27b0;
$white: #ffffff;
