$messages-container-height: 80px;
$messages-container-list: 130px;

$content-width: 60%;
$header-height: 48px;

$sign-margin-x-small: 8px;
$sign-margin-small: 16px;
$sign-margin-medium: 24px;
$sign-margin-large: 32px;
$sign-margin-x-large: 64px;

$modal-overlay-width: 100%;
$modal-overlay-height: 100%;
$modal-content-margin: 0 4px 10px;
$modal-content-width: 50vw;
$modal-content-height: 80vh;

$friends-container-height: 100px;