$maxWidth: 900px;
$calcHeight: 80px;
$calcHeight1: 100px;
$calcHeightDialogs: 130px;
$calcHeightFriends: 120px;
$footerInputMinHeight: 62px;
$footerInputMaxHeight: 226.5056px;

$contentWidth: 60%;
$headerHeight: 48px;
$marginTop: 20px;

$signMarginXSmall: 8px;
$signMarginSmall: 16px;
$signMarginMedium: 24px;
$signMarginLarge: 32px;
$signMarginXLarge: 64px;

$modal-overlay-width: 100%;
$modal-overlay-height: 100%;
$modal-content-box-shadow: 0 4px 10px;
$modal-content-width: 50vw;
$modal-content-height: 80vh;