button.input-image {
    padding: 0;
}

.input-image {
    width: 100%;
    height: 100%;

    &__label {
        width: inherit;
        height: inherit;

        &__text {
            padding: 3px 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &:hover {
        cursor: pointer;
    }
}