.header {
	background: $white;
	height: $header-height;

	.header-container {
		width: $content-width;
		max-width: $content-width;
		color: $black;
		height: inherit;
		line-height: $header-height;
		margin: 0 auto;

		&__toolbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: inherit;

			&__logo {
				display: flex;
				align-items: center;
				padding: 0 10px;

				&:hover {
					cursor: pointer;
				}
			}

			&__avatar {
				height: inherit;
				line-height: $header-height;
				display: flex;
				align-items: center;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
