@use "sass:math";

.menu {
	margin-top: 20px;
	padding-left: 4px;
	padding-right: 8px;
	width: max-content;

	&__nav {
		border-bottom: 1px solid $menu-nav-border;

		li {
			padding: 0 30px 0 10px;
			position: relative;
			min-height: 30px;
		}

		&__item {
			padding: 0 30px 0 10px;
			position: relative;
			min-height: 30px;

			&__title {
				margin-left: 10px;
				font-size: 13px;
				line-height: math.div(26, 13) * 100%;
				color: $black;
			}
		}
	}

	&__down-info {
		margin-top: 10px;
		line-height: 19px;
		font-size: 12px;
		color: $menu-info-color;
	}
}
