# .env файлы сервера (они копируются в момент запуска сервиса сервера)
.env
.env.development
.env.stage
.env.production

# Пользовательские файлы/изображения
assets

# Файлы отчетов сервера
reports

# Файлы с логами
logs

# Пример запросов HTTP к серверу
requests.http

# Дампы базы данных MS SQL
dumps

# Файлы конфигурации nodemon
nodemon*.json

# Папка с сертификатами для установки https соединения
certs