@import "./colors.scss";

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

/* Стилизация скролла */
::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $scrollBackground;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    line-height: 1 !important;
}

.epr-emoji-category-label {
    font-size: 14px !important;
}

#mui-12-grid-label {
    font-size: 15px;
}
.MuiPickersFadeTransitionGroup-root button {
    font-size: 15px;
}