@use "@styles/abstract/colors.scss" as *;

/* Обертка блока */
.paper-block {
    padding: 10px 20px;
}
/* Для заголовка блока */
.block-title {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;

    &:hover {
        cursor: pointer;
    }
}