@use "../abstract/colors.scss" as *;

/* Для заголовка блока */
.block-title {
	color: $black;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: max-content;

	&:hover {
		cursor: pointer;
	}
}

.paper-block {
	padding: 20px;
}
